# OpenCart Application URL
BASE_URL=http://localhost/opencart/upload/
ADMIN_URL=http://localhost/opencart/upload/admin/

# Database Configuration
DB_HOST=localhost
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

# Environment Switch (local, qa, or prod)
ENV=local

# Admin and Customer Credentials
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password

CUSTOMER_EMAIL=your_customer_email
CUSTOMER_PASSWORD=your_customer_password